<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <h3>Logged in as: <span th:text="${session.username}"></span></h3>
</head>
<body>
<form action="addPassword" method="POST">
    <h2>Please add a password</h2>
    <div>
        <label>Password</label>
        <input type="password" name="password">
    </div>
    <div>
        <label>Confirm Password</label>
        <input type="password" name="confirmpassword">
    </div>
    <button type="submit">Add Password</button>
</form>
</body>
</html>