<!DOCTYPE html>
<html>
<head>
    <title>Edit Invoice</title>
</head>
<body>
<h1>Edit Invoice</h1>
<h3>Logged in as: <span th:text="${session.username}"></span></h3>
<form action="edit" method="POST">
    <label for="datepicker">Date:</label>
    <input type="date" class="date-input" id="datepicker" name="date" th:value="${invoice.date}">
    <br>
    <label for="title">Title:</label>
    <input type="text" class="title-input" id="title" name="title" th:value="${invoice.title}">
    <br>
    <label for="category">Category:</label>
    <input type="text" class="category-input" id="category" name="category" th:value="${invoice.category}">
    <br>
    <label for="description">Description:</label>
    <input type="text" class="description-input" id="description" name="description" th:value="${invoice.description}">
    <br>
    <label for="price">Price:</label>
    <input type="number" step="0.01" class="price-input" id="price" name="price" th:value="${invoice.price}" >
    <br>
    <label for="editInvoice"></label>
    <button type="submit" id="editInvoice" name="editInvoice" th:value="${invoice.id}" aria-label="Edit invoice">Submit</button>
</form>
<form action="/invoice/delete" method="post">
    <label for="editInvoice"></label>
    <button type="submit" id="deleteInvoice" name="deleteInvoice" th:value="${invoice.id}" aria-label="Delete invoice">Delete</button>
</form>

</body>
</html>
